In [1]:
import numpy as np
import pandas as pd

In [2]:
def create_UPGMAtable(filename):
    
    df = pd.read_csv(filename,index_col=0)

    Table = []
    n = []
    name = []

    for col in df.columns:
        n.append(col)
    for i in range(0,len(n)):
        dist = []
        for j in range(0,i):
            dist.append(df[n[i]][n[j]])
        Table.append(dist)
        
    for i in n:
        splitted = i.split(" ", 1)
        name.append(splitted[0])

    print("Original half table:")
    print(Table)
    print("\nNames of sequences:")
    print(n)
    
    return Table,name

In [3]:
def lowest_value(table):
    
    min_val = float("inf")
    x, y = -1, -1

    for i in range(len(table)):
        for j in range(len(table[i])):
            if table[i][j] < min_val:
                min_val = table[i][j]
                x, y = i, j

    return x, y, min_val

In [4]:
def link_names(names, x, y, min_val):
   
    if x > y:
        x = x + y
        y = x - y
        x = x - y
        
    names[x] = "(" + names[x] + "," + names[y] + ':' + str(min_val/2) + ")"
    del names[y]

In [5]:
def alter_table(table, x, y):
    
    if x > y:
        x = x + y
        y = x - y
        x = x - y

    row = []
    for i in range(0, x):
        row.append((table[x][i] + table[y][i])/2)
    table[x] = row
    
    for i in range(x+1, y):
        table[i][x] = (table[i][x]+table[y][i])/2
        
    for i in range(y+1, len(table)):
        table[i][x] = (table[i][x]+table[i][y])/2
        del table[i][y]

    del table[y]

In [6]:
def UPGMA(table, name):
    
    while len(name) > 1:
        x, y, min_val = lowest_value(table)
        alter_table(table, x, y)
        link_names(name, x, y, min_val)
    return name

In [7]:
Table,names=create_UPGMAtable('Pdistance.txt')
tree = UPGMA(Table,names)

Original half table:
[[], [168], [255, 237], [221, 332, 331], [201, 314, 346, 459], [200, 270, 333, 425, 499], [194, 332, 302, 444, 423, 388], [212, 347, 331, 468, 480, 451, 455], [210, 359, 330, 485, 487, 442, 481, 522], [214, 356, 326, 482, 484, 438, 478, 518, 584]]

Names of sequences:
['ATN38177.1 insulin [Labeo rohita]', 'AAA40590.1 insulin [Octodon degus]', 'NP_990553.1 insulin preproinsulin precursor [Gallus gallus]', 'NP_062002.1 insulin-1 preproprotein [Rattus norvegicus]', 'NP_001103242.1 insulin precursor [Sus scrofa]', 'NP_776351.2 insulin preproprotein [Bos taurus]', 'AAA19033.1 insulin [Oryctolagus cuniculus]', 'NP_001123565.1 insulin precursor [Canis lupus familiaris]', 'AAP35454.1 insulin [Homo sapiens]', 'NP_001008996.1 insulin preproprotein [Pan troglodytes]']

In [8]:
print("Phylogenetic tree:")
print(tree)

Phylogenetic tree:
['(((((((((ATN38177.1,AAA40590.1:84.0),NP_776351.2:117.5),NP_990553.1:144.75),AAA19033.1:156.875),NP_062002.1:196.21875),NP_001103242.1:212.890625),NP_001123565.1:228.6953125),NP_001008996.1:245.8046875),AAP35454.1:269.775390625)']