In [1]:
import numpy as np
import pandas as pd

In [2]:
def create_UPGMAtable(filename):
    
    df = pd.read_csv(filename,index_col=0)

    Table = []
    n = []
    name = []

    for col in df.columns:
        n.append(col)
    for i in range(0,len(n)):
        dist = []
        for j in range(0,i):
            dist.append(df[n[i]][n[j]])
        Table.append(dist)
        
    for i in n:
        splitted = i.split(" ", 1)
        name.append(splitted[0])

    print("Original half table:")
    print(Table)
    print("\nNames of sequences:")
    print(n)
    
    return Table,name

In [3]:
def lowest_value(table):
    
    min_val = float("inf")
    x, y = -1, -1

    for i in range(len(table)):
        for j in range(len(table[i])):
            if table[i][j] < min_val:
                min_val = table[i][j]
                x, y = i, j

    return x, y, min_val

In [4]:
def link_names(names, x, y, min_val):
   
    if x > y:
        x = x + y
        y = x - y
        x = x - y
        
    names[x] = "(" + names[x] + "," + names[y] + ':' + str(min_val/2) + ")"
    del names[y]

In [5]:
def alter_table(table, x, y):
    
    if x > y:
        x = x + y
        y = x - y
        x = x - y

    row = []
    for i in range(0, x):
        row.append((table[x][i] + table[y][i])/2)
    table[x] = row
    
    for i in range(x+1, y):
        table[i][x] = (table[i][x]+table[y][i])/2
        
    for i in range(y+1, len(table)):
        table[i][x] = (table[i][x]+table[i][y])/2
        del table[i][y]

    del table[y]

In [6]:
def UPGMA(table, name):
    
    while len(name) > 1:
        x, y, min_val = lowest_value(table)
        alter_table(table, x, y)
        link_names(name, x, y, min_val)
    return name

In [7]:
Table,names=create_UPGMAtable('Ndistance.txt')
tree = UPGMA(Table,names)

Original half table:
[[], [0.5739750445632799], [0.6835443037974683, 0.5834896810506567], [0.6499102333931778, 0.5543071161048689, 0.4594017094017094], [0.6396396396396397, 0.5411985018726592, 0.4498933901918976, 0.3842887473460722], [0.6477064220183486, 0.5543071161048689, 0.408296943231441, 0.4107883817427386, 0.3860759493670886], [0.6552962298025135, 0.5463137996219282, 0.4344978165938865, 0.2783964365256124, 0.3634408602150538, 0.3823529411764705], [0.6218181818181818, 0.5202952029520295, 0.4578059071729958, 0.3975903614457831, 0.40973630831643, 0.3261802575107296, 0.3556910569105691], [0.6972477064220184, 0.602996254681648, 0.4625850340136054, 0.4097995545657015, 0.4190064794816415, 0.3648960739030023, 0.3673469387755102, 0.3779697624190065], [0.6786355475763016, 0.5692883895131086, 0.429193899782135, 0.3162583518930957, 0.3462365591397849, 0.3949579831932773, 0.2925170068027211, 0.3902439024390244, 0.2139423076923076]]

Names of sequences:
['KX951416.1 Labeo rohita insulin mRNA, complete cds', 'NM_205222.3 Gallus gallus insulin (INS-IGF2), mRNA', 'M57671.1 Octodon degus insulin mRNA, complete cds', 'NM_173926.2 Bos taurus insulin (INS), transcript variant 1, mRNA', 'NM_019129.3 Rattus norvegicus insulin 1 (Ins1), mRNA', 'U03610.1 Oryctolagus cuniculus New Zealand White insulin mRNA, complete cds', 'NM_001109772.1 Sus scrofa insulin (INS), mRNA', 'NM_001130093.2 Canis lupus familiaris insulin (INS), mRNA', 'BT006808.1 Homo sapiens insulin mRNA, complete cds', 'NM_001008996.2 Pan troglodytes insulin (INS), mRNA']

In [8]:
print("Phylogenetic tree:")
print(tree)

Phylogenetic tree:
['(KX951416.1,(NM_205222.3,(M57671.1,((((NM_173926.2,NM_001109772.1:0.1391982182628062),(BT006808.1,NM_001008996.2:0.1069711538461538):0.17324023150462858),NM_019129.3:0.18912158077281904),(U03610.1,NM_001130093.2:0.1630901287553648):0.19555435918637332):0.22030198194302106):0.2823741209445358):0.30954419513971204)']